/* about us*/
#about-us
{ 
    background-color:var(--third-color);
    margin-bottom: 5px;
}
#about-us11
{
    background-color:var(--seventh-color);
    margin: 5px; 
    border: 2px solid black; 
    box-shadow: 5px 5px;
    padding-left: 15px;  
}
#about-us22
{
    background-color:var(--seventh-color);
    margin: 5px;
    border: 2px solid black; 
    box-shadow: 5px 5px; 
    padding-left: 15px; 
}

#font
{ 
    font-size: 23px;
}

#aboutus-gallery
{ 
    max-width: 275px; 
    max-height: 100%;
    border:3px solid black;
}


@media only screen and (max-width:600px){
#aboutus-gallery
{ 
    display: block;
}
}