#gallery
{ 
    max-width: 300px;
    max-height: 300px;
    border:5px solid black;
    
}
#product-gallery
{ 
    max-width: 200px;
    max-height: 300px;
}
#aboutus-gallery
{ 
    max-width: 275px; 
    max-height: 100%;
    border:3px solid black;
}
#gallery-content {
   
    display: flex;
    flex-wrap: wrap;         
    justify-content: center; 
    align-items: center;     
    margin: 0 auto;
    background-color: var(--third-color);
}
#gallery, #product-gallery, #aboutus-gallery {
    margin: 10px;
    border: 5px solid black;
    box-sizing: border-box;
}


