header 
{
    background-color: white;
    color:rgb(129, 17, 17);


}
h1
{ 
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}
img 
{ 
    max-width: 30%;
}

header
{ 
    margin: auto;
    text-align: center;
    justify-content: center;
}

#logo1
{ 
    max-height: 100px;
    top:5px; 
    right: 3px;  
    padding-left: 20px; 
    padding-right: 20px;
}

#logo2
{ 
    max-height: 100px;
    top:0px; 
    left: 3px;
    padding-right: 20px; 
    padding-left: 20px; 

}

/* apply to 600px or bigger */
@media only screen and (min-width:600px){
     .columns
     { 
         display:flex; 
     }

 }
 

